article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.bullet {
  list-style: circle;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.clearfix:after {
  content: ".";
  height: 0;
  clear: both;
  visibility: hidden;
}
.bootstrap {
  background-image: -webkit-repeating-linear-gradient(0deg, #ebebeb, #ebebeb 0px, #fff 1px, #fff 2.5rem);
  background-image: -moz-repeating-linear-gradient(0deg, #ebebeb, #ebebeb 0px, endcolort 1px, #fff 2.5rem);
  background-image: -o-repeating-linear-gradient(0deg, #ebebeb, #ebebeb 0px, #fff 1px, #fff 2.5rem);
  background-image: repeating-linear-gradient(0deg, #ebebeb, #ebebeb 0px, #fff 1px, #fff 2.5rem);
  background-position: top left;
  background-repeat: repeat;
  background-size: 100% 25px;
  background-size: 100% 2.5rem;
}
.bootstrap code,
.bootstrap pre {
  font-family: Menlo, Monaco, monospace;
  background: #fff;
}
.bootstrap code {
  margin: 0;
  padding: 0;
}
.bootstrap pre {
  margin-top: 0;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  position: relative;
  padding: 25px;
  padding: 2.5rem;
  display: block;
  max-height: 250px;
  max-height: 25rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.bootstrap__wrapper {
  overflow: visible;
  max-width: 1000px;
  z-index: 100;
  margin: 0 auto;
  position: relative;
}
.bootstrap__banner {
  width: 100%;
  position: relative;
  background: #fafafa;
  background-image: -webkit-repeating-linear-gradient(0deg, #e6e6e6, #e6e6e6 0px, #fafafa 1px, #fafafa 2.5rem);
  background-image: -moz-repeating-linear-gradient(0deg, #e6e6e6, #e6e6e6 0px, endcolort 1px, #fafafa 2.5rem);
  background-image: -o-repeating-linear-gradient(0deg, #e6e6e6, #e6e6e6 0px, #fafafa 1px, #fafafa 2.5rem);
  background-image: repeating-linear-gradient(0deg, #e6e6e6, #e6e6e6 0px, #fafafa 1px, #fafafa 2.5rem);
  background-position: top left;
  background-repeat: repeat;
  background-size: 100% 25px;
  background-size: 100% 2.5rem;
  height: 175px;
  height: 17.5rem;
  color: rgba(190,190,190,1);
  overflow: hidden;
  clear: both;
  z-index: 50;
  margin-top: 25px;
  margin-top: 2.5rem;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
}
.bootstrap__banner:first-child {
  margin-top: 0;
}
.bootstrap__banner pre {
  display: none;
}
.bootstrap__banner p {
  margin: 0;
}
.bootstrap__banner h5 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.bootstrap__banner a {
  color: #fff;
  border-bottom-color: #fff;
}
.bootstrap__banner a:hover,
.bootstrap__banner a:active {
  color: #7d7d7d;
  border-bottom-color: #7d7d7d;
}
.bootstrap__banner .bootstrap__label {
  display: block;
  width: 100%;
  float: left;
}
.bootstrap__banner .bootstrap__label h1 {
  font-size: 59px;
  font-size: 5.9rem;
  line-height: 75px;
  line-height: 7.5rem;
  margin-top: 50px;
  margin-top: 5rem;
  margin-bottom: 50px;
  margin-bottom: 5rem;
  position: relative;
  top: 0;
  left: 0;
  color: rgba(190,190,190,1);
  display: inline-block;
  float: left;
  text-transform: lowercase;
  clear: both;
  font-weight: 300;
}
.bootstrap__banner .bootstrap__label h1:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  height: 0.4rem;
  background: rgba(190,190,190,1);
}
.bootstrap__banner .bootstrap__label a {
  float: right;
  height: 25px;
  height: 2.5rem;
  margin-top: 75px;
  margin-top: 7.5rem;
  line-height: 21px;
  line-height: 2.1rem;
  padding: 0 15px;
  text-align: center;
  background: #fafafa;
  display: block;
  font-size: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  color: rgba(190,190,190,1);
  font-weight: 300;
  letter-spacing: 1px;
  border: 2px solid rgba(190,190,190,1);
}
.bootstrap__banner .bootstrap__label a:hover {
  background: rgba(190,190,190,1);
  color: #fafafa;
}
.bootstrap__banner.open {
  height: auto;
}
.bootstrap__banner.open pre {
  display: block;
}
.bootstrap__banner .wrapper {
  overflow: hidden;
}
body,
html {
  width: 100%;
  height: auto;
  min-height: 100%;
  background: #fff;
}
body {
  font-family: neris-semibold, archrival, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 25px;
  line-height: 2.5rem;
  font-weight: 300;
  color: #111;
}
a {
  color: #111;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #111;
}
a:hover,
a:active {
  color: #fafafa;
  text-decoration: none;
  border-bottom-color: #fafafa;
}
p {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 25px;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300;
}
h1,
.h1 {
  font-size: 44px;
  font-size: 4.4rem;
  line-height: 50px;
  line-height: 5rem;
  margin-top: 25px;
  margin-top: 2.5rem;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
}
h2,
.h2 {
  font-size: 33px;
  font-size: 3.3rem;
  line-height: 50px;
  line-height: 5rem;
  margin-top: 25px;
  margin-top: 2.5rem;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
}
h3,
.h3 {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 25px;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
}
h4,
.h4 {
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 25px;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
}
h5,
.h5 {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 25px;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
h6,
.h6 {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 25px;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
@font-face {
  font-family: "archrival";
  src: url("/fonts/archrival/archrival.woff") format('woff'), url("/fonts/archrival/archrival.ttf") format('truetype'), url("/fonts/archrival/archrival.svg#archrival") format('svg'), url("/fonts/archrival/archrival.eot?#iefix") format('embedded-opentype');
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: "neris-semibold";
  src: url("/fonts/neris/neris-semibold.woff") format('woff'), url("/fonts/neris/neris-semibold.ttf") format('truetype'), url("/fonts/neris/neris-semibold.svg#neris-semibold") format('svg'), url("/fonts/neris/neris-semibold.eot?#iefix") format('embedded-opentype');
  font-weight: regular;
  font-style: normal;
}
.btn {
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 25px;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  text-align: center;
  padding: 0 13px;
  padding: 0 1.3rem;
  height: 50px;
  height: 5rem;
  line-height: 50px;
  line-height: 5rem;
  min-width: 50px;
  min-width: 5rem;
  cursor: pointer;
  background: #fafafa;
  color: #fff;
  border: none;
  vertical-align: top;
  -moz-transition: color 0.2s ease, background-color 0.2s ease;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease;
  -ms-transition: color 0.2s ease, background-color 0.2s ease;
  -o-transition: color 0.2s ease, background-color 0.2s ease;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.btn.secondary {
  background: #bdc3c7;
  color: #fff;
}
.btn.square {
  padding: 0;
  width: 50px;
  width: 5rem;
}
.btn.round {
  padding: 0;
  width: 50px;
  width: 5rem;
  border-radius: 100%;
}
.btn.lozenge {
  border-radius: 25px;
  border-radius: 2.5rem;
}
.btn.large {
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 25px;
  line-height: 2.5rem;
  height: 75px;
  height: 7.5rem;
  line-height: 75px;
  line-height: 7.5rem;
  padding: 0 25px;
  padding: 0 2.5rem;
}
.btn.large.square {
  padding: 0;
  width: 75px;
  width: 7.5rem;
}
.btn.large.lozenge {
  border-radius: 38px;
  border-radius: 3.75rem;
}
.btn.small {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 25px;
  line-height: 2.5rem;
  height: 25px;
  height: 2.5rem;
  line-height: 25px;
  line-height: 2.5rem;
  padding: 0 25px;
  padding: 0 2.5rem;
}
.btn.small.square {
  padding: 0;
  width: 75px;
  width: 7.5rem;
}
.btn.small.lozenge {
  border-radius: 38px;
  border-radius: 3.75rem;
}
.btn.block {
  display: block;
}
.btn:hover,
.btn:active {
  background: #fbfbfb;
}
.btn:hover.secondary,
.btn:active.secondary {
  background: #939da3;
}
.catalogue {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1100;
  -webkit-perspective-origin: 50%;
  overflow: scroll;
}
.catalogue--item {
  background: cover;
  position: absolute;
  background-size: cover;
  height: 160px;
  width: 160px;
}
.catalogue--item--inner {
  height: 60px;
  position: absolute;
  bottom: -60px;
}
