/////////////////////////////////////////////////////////////////////////
// VARIABLES
/////////////////////////////////////////////////////////////////////////

IMAGE_PATH					= "../img/"
SUPPORT_IE					= false

FONT_PRIMARY				= unquote("clearsans-light, Helvetica Neue, Helvetica, Arial, sans-serif")
FONT_SECONDARY				= unquote("pacifico, Georgia, serif")
FONT_SIZE					= 11
LINE_HEIGHT_RATIO 			= 1.9

COLOR_BODY_BACKGROUND 		= #FFF
COLOR_BODY_FONT				= #000
COLOR_PRIMARY_BACKGROUND	= #309e85
COLOR_PRIMARY_FONT			= #000
COLOR_SECONDARY_BACKGROUND	= #CCC
COLOR_SECONDARY_FONT		= #FFF

/////////////////////////////////////////////////////////////////////////
// MEDIA QUERY
/////////////////////////////////////////////////////////////////////////

/**
 * Media Query for retina displays

 @media RETINA_MEDIA
 	.selector
 		background-image: url("image@2x.png")
 		background-size: contain

 */
RETINA_MEDIA = "(min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)"